html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  margin-top: 40px;
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
  margin-left: 104px;
  margin-right: 0;
  box-sizing: border-box;
}

.results-section {
  width: 100%;
  padding: 0 20px 80px;
  box-sizing: border-box;
  background: rgba(245, 246, 247, 1);
}

.results-heading {
  width: 712px;
  height: 46px;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  margin-top: -20px;
  margin-left: 75px;
  padding: 50px;
}

.show-more-button {
  display: block;
  margin: 30px auto;
  padding: 12px 30px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 288px;
  height: 64px;
  color: rgba(26, 27, 34, 1);
  background-color: #ffffff;
}

.show-more-button:hover {
  background-color: #e8e8e8;
}

@media screen and (max-width: 768px) {
  .results-heading {
    padding-top: 40px;
    padding-bottom: 32px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .results-section {
    width: 100%;
    opacity: 1;
    top: 400px;
    padding-left: 0;
  }
  .search-results {
    justify-content: start;
    grid-template-columns: repeat(3, 224px);
    gap: 8px;
    margin-left: 0;
    margin-top: 0;
  }
  .show-more-button {
    margin-left: 272px;
    margin-top: 32px;
    margin-bottom: 0;
  }
}
