.main {
  background-image: url("../../assets/images/main-background.jpg");
  width: 1440px;
  height: 576px;
  border-width: 1px;
  background-size: cover;
  opacity: 1;
}

.main__title {
  width: 608px;
  height: 128px;
  top: 160px;
  left: 416px;
  opacity: 1;
  color: #ffffff;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0px;
}

.main__subtitle {
  width: 608px;
  height: 24px;
  top: 320px;
  left: 416px;
  opacity: 1;
  color: #ffffff;
}
