.saved-news {
  background-color: #f5f5f5;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
}

.saved-news__content {
  background-color: #ffffff;
  padding: 0 0 62px 104px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
}

.saved-news__title {
  font-size: 28px;
  font-weight: 600;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  margin-left: 0;
}

.saved-news__keywords {
  font-size: 18px;
  color: #333;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-left: 0;
}

.saved-news__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  margin: 0 auto;
  padding-left: 102px;
  padding-right: 104px;
  padding-top: 62px;
  padding-bottom: 62px;
}

.saved-news__empty {
  text-align: center;
  font-size: 18px;
  color: #777;
}
.saved-news__info {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(26, 27, 34, 0.5);
  margin-top: 40px;
  margin-left: 0;
}

@media screen and (max-width: 1024px) {
  .saved-news {
    width: 100%;
  }

  .saved-news__cards {
    grid-template-columns: repeat(3, 1fr);
    padding: 32px 40px;
    gap: 16px;
  }

  .saved-news__content {
    padding-left: 0;
    padding-bottom: 32px;
  }

  .saved-news__info {
    margin-left: 40px;
  }
  .saved-news__title {
    margin-left: 40px;
    max-width: 336px;
  }
  .saved-news__keywords {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .saved-news__cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 32px 24px;
    gap: 16px;
  }
}

@media screen and (max-width: 480px) {
  .saved-news {
    width: 100%;
  }
  .saved-news__title {
    font-size: 30px;
    line-height: 28px;
    max-width: 288px;
    margin-left: 16px;
  }

  .saved-news__keywords {
    width: 100%;
    font-size: 18px;
    max-width: 288px;

    margin-left: 16px;
  }

  .saved-news__content {
    padding-left: 0;
    padding-bottom: 32px;
  }
  .saved-news__info {
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    max-width: 288px;
    margin-top: 8px;
    margin-left: 16px;
  }

  .saved-news__cards {
    grid-template-columns: 1fr;
    padding: 24px 16px;
  }
}
