.saved-news {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.saved-news__header {
  background-color: #ffffff;
  padding-bottom: 15px;
}

.saved-news__title {
  font-size: 28px;
  font-weight: 600;
  margin-left: 155px;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  width: 530px;
}

.saved-news__keywords {
  font-size: 18px;
  color: #333;
  margin-left: 155px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

.saved-news__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 62px;
}

.saved-news__empty {
  text-align: center;
  font-size: 18px;
  color: #777;
}

.saved-news__info {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(26, 27, 34, 0.5);
  margin-top: 40px;
  margin-left: 155px;
}
