.header {
  max-width: 1440px;
  padding: 0 104px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  z-index: 10;
  border-bottom: 1px solid rgba(209, 210, 214, 1);
  gap: 40px;
  align-items: center;
  background-color: white;
  transition: background-color 0.3s ease;
  color: black;
  height: 80px;
}

.header__logo {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-left: 104px;
}

.header__logo_type_white {
  color: white;
}

.header__logo_type_white:hover {
  color: white;
}

.header__logo_type_black {
  color: black;
}

.header__logo_type_black:hover {
  color: black;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-right: 104px;
}

.header__link {
  position: relative;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding: 6px 12px;
  border: none;
}

.header__link_savedArticle {
  width: 114px;
  height: 24px;
  position: relative;
  color: #b6bcbf;
}

.header__link_type_white {
  color: white;
}

.header__link_type_white:hover {
  color: white;
}

.header__link_type_black {
  color: black;
}

.header__link_type_black:hover {
  color: black;
}

.header__button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  width: 176px;
  height: 48px;
  justify-content: center;
}

.header__button_theme_white {
  border: 1px solid white;
  color: white;
}

.header__button_theme_white:hover {
  border: 1px solid white;
  color: white;
}

.header__button_theme_black {
  border: 1px solid black;
  color: black;
}

.header__button_theme_black:hover {
  border: 1px solid black;
}

.header__username {
  font-size: 18px;
  line-height: 24px;
}

.header__logout-icon_theme_white {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/images/logoutIconWhite.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header__logout-icon_theme_black {
  background-image: url("../../assets/images/logoutIcon.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header_transparent {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header__link_active {
  position: relative;
}

.header__link_active_white::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}

.header__link_active_black::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
}

.header__menu-icon {
  width: 24px;
  height: 24px;
  display: none;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0 40px;
    height: 66px;
    gap: 20;
  }

  .header__nav {
    gap: 12px;
    margin-right: 0;
  }

  .header__button {
    padding: 10px 16px;
    margin-top: 14px;
    margin-bottom: 12px;
  }

  .header__logo {
    width: 200px;
    margin-left: 0;
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .header__logout-icon_theme_black {
    background-image: url("../../assets/images/logoutIcon.svg");
  }
  .header__menu-icon {
    display: none;
    background-color: transparent;
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {
    .header {
      padding: 0;
      height: 56px;
    }
    .header__logo {
      width: 117px;
    }
    .header__nav {
      display: none;
    }

    .header__logo_type_white {
      color: white;
      margin-left: 16px;
    }

    .header__logo_type_black {
      color: black;
      margin-left: 16px;
    }

    .mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #1a1a1a;
      color: white;
      display: flex;
      flex-direction: column;
      z-index: 100;
      padding: 16px;
      padding-bottom: 0;
      height: 230px;
      border-radius: 14px;
    }

    .mobile-menu__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }

    .mobile-menu__close {
      background: none;
      border: none;
      cursor: pointer;
    }

    .mobile-menu__close img {
      width: 24px;
      height: 24px;
    }

    .mobile-menu__nav {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .mobile-menu__link {
      color: white;
      font-size: 18px;
      text-decoration: none;
      font-weight: 500;
    }

    .mobile-menu__logout-icon {
      display: inline-block;
      background-image: url("../../assets/images/logoutIconWhite.svg");
      width: 24px;
      height: 24px;
      background-size: contain;
    }

    .mobile-menu__button {
      background: none;
      border: 1px solid white;
      border-radius: 100px;
      padding: 12px;
      color: white;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      width: 288px;
    }
    .header__menu-icon {
      display: block;
      width: 24px;
      height: 24px;
      margin-bottom: 16px;
      margin-right: 16px;
      background-color: transparent;
    }
  }
}
