.register-modal-size {
  width: 430px;
  height: 458px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2f71e5;
}

.register-form label {
  font-size: 14px;
}

.register-form input {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: white;
  color: black;
  margin-bottom: 27px;
}

.register-form button {
  padding: 12px;
  color: #e0e0e0;
  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  height: 64px;
  opacity: 1;
  margin-top: 10px;
}

.register-form__switch {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.register-form__switch span {
  color: #1a73e8;
  cursor: pointer;
}
