.news-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  margin: 10px;
  max-width: 400px;
  height: 576px;
}

.news-card__container {
  width: 1440px;
  height: 974px;
  opacity: 1;
}

.news-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-card__content {
  padding: 16px;
}

.news-card__date {
  color: gray;
  font-size: 0.9rem;
}

.news-card__title {
  font-size: 1.2rem;
  margin: 10px 0;
}

.news-card__description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.news-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-card__source {
  font-weight: bold;
  font-size: 0.9rem;
}

.news-card__button {
  background-image: url(../../assets/images/savearticleicon.png);
}

.results-section {
  width: 1440px;
  height: 974px;
  opacity: 1;
}

.results-heading {
  width: 712px;
  height: 46px;
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  margin-top: -80px;
  margin-left: 104px;
}
