.login-modal-size {
  width: 430px;
  height: 383px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2f71e5;
}

.login-form label {
  font-size: 14px;
}

.login-form input {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: white;
  color: black;
  opacity: 1;
}

.login-form input::placeholder {
  color: black;
  opacity: 20%;
}

.login-form button {
  padding: 12px;
  color: #e0e0e0;
  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  height: 64px;
  opacity: 1;
  margin-top: 43px;
  margin-bottom: 10px;
}

.login-form button:disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
}

.login-form__switch {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.login-form__switch span {
  color: #1a73e8;
  cursor: pointer;
}

.login-form__error {
  width: 173px;
  height: 14px;
  opacity: 1;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  color: #ff0000;
  margin-top: 0;
}
